<h1>Welcome to Career Timeline Thing</h1>
<h2>This is a thing that does career timelines<h2>
<h3>This is one of the sample applications for <a href="http://www.baserails.com/">baserails</a>, a platform that teaches people to build awesome custom websites with the ruby on rails programming language. Sign up and start learning today!</h3>
	<!---
<p>
	<a href="http://localhost:3000/pages/contact">link to contact</a> 
</p>
<p>
	<a href="http://localhost:3000/pages/about">link to about</a>
</p>
!>
